<template>
    <div class="cart">
        <div class="product" v-for="(item) in cartArr" v-bind:key="item.product.id">
            {{ item.product.id }}: {{ item.product.item }}
            <div class="price"></div>
            <div class="count">
                <div class="price">{{item.product.price}}</div>
                {{item.count}}
            </div>
        </div>
        <div class="sum" v-show="sum != 0">До сплати: {{sum}}</div>
    </div>
</template>

<script>


export default {
    data: function () {
        return {
            cartArr: this.$store.getters.getProductsAtCart,
        };
    },
    computed: {
        sum() {
            let sum = 0;
            this.cartArr.forEach(element => {
                sum += element.product.price * element.count;
            });
            return sum.toFixed(2);
        }
    }
}
</script>

<style scoped>
    .count {
        margin: 0 0 0 auto !important;
        font-size: larger;
        display: flex;
    }
    .price {
        margin-right: 20px;
    }
    .sum {
        float: right;
        font-size: larger;
        margin-right: 40px;
    }
</style>